/** jQuery UI Fix **/
.ui-icon-gripsmall-diagonal-se { background-image: url(""); }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: 1;}

*, *:before, *:after {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    /* Firefox */
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.textarea:focus {
    outline: 0;
}
.textarea {
    border: 0;
    resize: none;
}
button:focus {
    outline: 0;
}
input:focus {
    outline: 0;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'SegoeUIRegular';
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
body {
    background-color: black;
}
bootscreen .credit {
    font-size: 12px;
}
bootscreen {
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    font-size: 20px;
    color: white;
    display: table;
}
.center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
screen {
    display: block;
    position: relative;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

taskbar {
    display: block;
    position: absolute;
    z-index: 200;
    width: 100%;
    background-color: rgba(27, 79, 121, 0.81);
    bottom: 0;
    height: 30px;
    border-top: 1px solid rgba(18, 53, 79, 0.75);
    box-shadow: 0 1px 0 #80b5dd inset;
}
areopeak:hover {
    box-shadow: 2px 4px 4px 6px rgba(255, 255, 255, 0.21) inset;
}
areopeak {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 15px;
    /*
    background-color: rgba(38, 106, 160, 0.81);
    border: 1px solid rgba(22, 52, 87, 0.75);
    box-shadow: 0 0px 0 1px rgba(128, 181, 221, 0.43) inset, 2px 3px 8px 2px rgba(255, 255, 255, 0.56) inset;
    */
    background-image: url('images/areopeak.png');
    background-repeat: no-repeat;
}

startmenu {
    display: block;
    position: absolute;
    bottom: 0;
    height: 41px;
    width: 52px;
    background: url('images/startmenu.png');
}
startmenu img{
    opacity: 0;
    position: absolute;
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -ms-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
}
startmenu:hover img{
    opacity: 1;
}

desktop {
    display: block;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

icon {
    padding: 5px;
    border-radius: 4px;
}

icon>.picture {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}
icon>.picture>img {
    width: 100%;
    height: 100%;
}
icon>.name {
    margin-top: 3px;
    width: 72px;
    color: rgb(247, 247, 247);
    text-align: center;
    text-shadow: 2px 2px 3px #000;
}

icon:hover {
    box-shadow: 0 0 0 2px rgba(200, 224, 255, 0.71) inset;
    background-color: rgba(197, 222, 255, 0.3);
}

icon.focus {
    box-shadow: 0 0 0 2px rgba(200, 224, 255, 0.71) inset;
    background-color: rgba(197, 222, 255, 0.77);
}


icon#recycle_bin {
    position: absolute;
    top: 20px;
    left: 20px;
}
startmenupanel.focus ~ startmenu img{
    opacity: 0.6;
}
startmenupanel.focus {
    display: block;
}
startmenupanel {
    position: absolute;
    display: none;
    bottom: 29px;
    left: 0px;
    width: 400px;
    height: 500px;
    background-color: rgba(44, 68, 83, 0.81);
    border: 1px solid rgba(0, 0, 0, 0.49);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.22) inset;

    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
     border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
}

startmenupanel #shortcuts hr {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    border-top: 1px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
}
startmenupanel #shortcuts h1:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.49) inset, 0 0 0 1px rgba(0, 0, 0, 0.74), 0 0 0 2px rgba(255, 255, 255, 0.13), 0 20px 0 -5px rgba(255, 255, 255, 0.22) inset, 0 10px 60px -20px white inset;
}
startmenupanel #shortcuts h1 {
    color: rgb(247, 247, 247);
    font-size: 12px;
    font-weight: normal;
    margin: 6px 0;
    padding: 6px 2px 8px 6px;
    border-radius: 4px;
}

startmenupanel #avatar img {
    width: 100%;
    height: 100%;
}
startmenupanel #avatar .mask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url('images/avatar_mask.png');
    background-repeat: no-repeat;
}
startmenupanel #avatar {
    cursor: pointer;
    position: absolute;
    width: 48px;
    height: 48px;
    right: 45px;
    top: -20px;
    box-shadow: 0 0 0 1px #7b7877,0 0 0 2px rgba(255, 255, 255, 0.33), 0 0 0 5px rgba(116, 216, 233, 0.6), 0px 1px 5px 6px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}
startmenupanel #powerbutton {
    position: absolute;
    width: 100px;
    bottom: 20px;
    right: 28px;
}
startmenupanel #shortcuts {
    position: absolute;
    right: 9px;
    top: 40px;
    bottom: 9px;
    width: 120px;
}

startmenupanel #recent_program {
    padding: 0 2px;
    position: absolute;
    left: 9px;
    bottom: 9px;
    top: 9px;
    width: 250px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.27),0 0 0 2px rgba(255, 255, 255, 0.34);
}

window {
    width: 500px;
    height: 500px;
    background-color: rgba(149, 189, 224, 0.52);
    position: absolute !important;
    left: 50px;
    top: 50px;
    z-index: 150;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6) inset, 0 0 10px black;
}

window.max {
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 30px !important;
    height: auto !important;
    width: auto !important;
    border-radius: 0 !important;
}
window.min {
    display: none !important;
}
window.focus {
    background-color: rgba(149, 189, 224, 0.85);
    z-index: 151;
}
window titlebar {
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0 0 7px;
    right: 7px;
    text-shadow: 0 0 6px white,0 0 3px white,0 0 6px rgba(255, 255, 255, 0.43);
}
window content {
    background: white;
    position: absolute;
    top: 27px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.56) inset, 0 0 0 1px rgba(255, 255, 255, 0.57);
    border-radius: 2px;
}
window.max content {
    left: -1px;
    right: -1px;
    bottom: -1px;
}
window titlebar img {
    width: 16px;
    height: 16px;
    margin: 0 4px 4px 6px;
    vertical-align: middle;
}
window titlebar .window_title {
    padding-top: 5px;
    display: inline-block;
    cursor: default;
}
window titlebar .window_controls {
    position: absolute;
    right: 0;
}
window titlebar .window_controls {
    position: absolute;
    right: 0;
}
window.focus titlebar .window_controls span.control {
    box-shadow: 0 14px 0 -5px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgb(95, 95, 95), 0 0 0 1px rgba(255, 255, 255, 0.5) inset,0 0 30px -4px rgba(0, 0, 0, 0.5) inset, 0 -8px 10px -5px white inset;
}
window titlebar .window_controls span.control {
    box-shadow: 0 0 0 1px rgb(95, 95, 95), 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
    margin-right: 1px;
    padding: 1px 0;
    text-align: center;
    width: 26px;
    display: inline-block;
}
window titlebar .window_controls span.control.close {
    width: 42px;
}
window.focus titlebar .window_controls span.control.close {
    background-color: #c0402e;
}
window titlebar .window_controls span.control:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
window.focus titlebar .window_controls span.control:active {
    background-color: rgba(0, 0, 0, 0.5);
}
window.focus titlebar .window_controls span.control.close:hover {
    background-color: #FF1F00;
}
window titlebar .window_controls span.control.close:hover {
    background-color: rgb(233, 115, 115);
}
window.focus titlebar .window_controls span.control.close:active {
    background-color: #8F1200;
}
window titlebar .window_controls span.control.min {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}
window titlebar .window_controls span.control.close {
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}
window titlebar .control.full {
    margin-right: 7px !important;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
window content iframe {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
window content .iframe_mask {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
window.focus content .iframe_mask {
    display: none;
}
window.showmask content .iframe_mask {
    display: block !important;
}
tasks {
    position: absolute;
    left: 60px;
    bottom: 0;
    right: 0;
    top: 0;
}
tasks .task {
    display: inline-block;
    height: 29px;
    cursor: default;
    float: left;
    padding: 5px 10px;
    margin-bottom: 1px;
    color: white;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.22), 0 25px 15px -10px rgba(255, 255, 255, 0.26) inset, 200px 592px 20px -600px rgba(255, 255, 255, 0.22) inset;
    margin-right: 4px;
    border-radius: 2px;
    min-width: 160px;
    transition: box-shadow 0.2s, background-color 0.2s, width 0.2s;
    -webkit-transition: box-shadow 0.2s, background-color 0.2s, width 0.2s;
    -moz-transition: box-shadow 0.2s, background-color 0.2s, width 0.2s;
    -ms-transition: box-shadow 0.2s, background-color 0.2s, width 0.2s;

}
.task.active {
    background-color: rgba(255, 255, 255, 0.4);
}
.task:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.59) inset, 0 0 0 1px rgba(0, 0, 0, 0.34), 0 19px 15px -10px rgba(255, 255, 255, 0.35) inset, 200px 592px 20px -600px rgba(255, 255, 255, 0.4) inset;
}
.task:active {
    background-color: rgba(0, 0, 0, 0.1);
}
.task img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
.sprite_icon {
    background-image: url('images/sprite.png');
    display: inline-block;
}
.sprite_icon.close {
    width: 11px;
    height: 10px;
    background-position: 0 0;
}
.sprite_icon.max {
    width: 12px;
    height: 10px;
    background-position: 0 -10px;
}
.sprite_icon.min {
    width: 12px;
    height: 10px;
    background-position: 0 -20px;
}
.sprite_icon.full {
    width: 12px;
    height: 10px;
    background-position: 0 -30px;
}
.recent_program_item {
    cursor: pointer;
    border-radius: 3px;
    padding: 4px 2px 0px;
}

.recent_program_item:hover, #all_programs:hover {
    background-color: #c6dffe;
    box-shadow: 0 0 0 1px #909dc9 inset, 0 0 0 2px rgba(255, 255, 255, 0.65) inset, 0 40px 45px -17px rgba(255, 255, 255, 0.65) inset;
}

.recent_program_item .program_name {
    display: inline-block;
    vertical-align: middle;
}
.recent_program_item .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.recent_program_item .icon img {
    width: 32px;
    height: 32px;
}

#bottom_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#search_box {
    background-color: #f1f5fb;
    padding: 11px;
    box-shadow: 0 7px 5px -5px #ccd9ea inset;
}

#search_box input[type="text"] {
    width: 100%;
    box-shadow: 1px 1px 0 #666666 inset, 1px 1px 0 #929292;
    border: 0;
    border-radius: 1px;
    padding: 3px 10px;
    line-height: 15px;
    font-size: 12px;
}
#search_box input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color:    #6d6d6d;
    font-style: italic;
}
#search_box input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #6d6d6d;
    font-style: italic;
}
#search_box input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #6d6d6d;
    font-style: italic;
}
#search_box input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #6d6d6d;
    font-style: italic;
}
#all_programs span { 
    margin-left: 20px;
}
#all_programs img {
    margin-left: 5px;
}
#all_programs {
    padding: 4px 0;
    margin: 4px 11px;
}
hr.blue_line.sidepadding {
    border-top: 1px solid #d6e5f5;
    margin: 0 11px;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
